@model ResultMessage

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4 style="text-align:center" class="alert-title">@Model.Title</h4>
        <p style="text-align:center">@Model.Message</p>
    </div>
</div>